{% extends "base.html" %}
{% block title %}Reset my password{% endblock %}
{% block content %}
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{% url "catalogs:index" %}">首頁</a> <span class="divider">/</span></li>
            <li class="active">FORGOT YOUR PASSWORD</li>
        </ul>
        <div class="well well-small">
            <h3> FORGOT YOUR PASSWORD</h3>
            <hr class="soft"/>

            Please enter the e-mail address used to register. We will e-mail you your new password.<br/><br/><br/>


            <form action="{% url 'accounts:forget_password' %}" method="post" class="form-inline">

                {% csrf_token %}
                <label for="{{ form.email.auto_id }}" class="control-label">{{ form.email.label }}:</label>
                {{ form.email }}
                <button type="submit" class="shopBtn block">Reset My Password</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
