{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action=".">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}{{ field }}
                        {{ field.erros }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">
                    Login
                </button>
            </form>
            <a href="{% url "social:begin" "github" %}">Login with Github</a>
        </div>
    </div>
{% endblock %}