{% extends "base.html" %}
{% block title %}Market info{% endblock %}
{% block content %}
    <div class="row">
        <h1>Welcome to {{ market.market_name }}</h1>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% for book in books %}
                <div>
                    <a href="#">
                        <img width="150px" height="150px" src="{{ book.image.url }}" class="img-thumbnail">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
